.MuiList-padding-42 {
    padding: 0px !important;
}

.MuiList-padding-51 {
    padding: 0px !important;
}

svg {
    margin-left: 10px;
}


.download-cert-button {
    margin-bottom: 30px !important;
}

.download-client-button {
    margin-right: 30px !important;
    margin-bottom: 30px !important;
}